@model MeloMetrics.Models.FitFileManager

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

@using (Html.BeginForm("Index", "FitFileManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="position:relative;">
        <a class='btn btn-success' href='javascript:;'>
            Choose File...
            <input name="file" class="file" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
        </a>

        <span class='btn btn-info' id="upload-file-info">&nbsp;</span>
        <input type="submit" class="btn btn-warning" value="ok">
    </div>
}


