<!--

<div id="container-fluid" style="clear:both; height:320px; padding-top:10px; margin-bottom:15px; border: 1px black solid;">
    <p class="bg-success">

    </p>
    <div class="alert alert-info" style="height:290px;">
        <strong>Info!</strong> Indicates a neutral informative change or action.
    </div>
</div>

<div id="container-fluid" style="clear:both; height:165px; padding-top:10px; margin-bottom:15px; border: 1px black solid;">
    <p class="bg-success">

    </p>
    <div class="alert alert-success" style="height:125px;">
        <strong>Info!</strong> Indicates a neutral informative change or action.
    </div>
</div>

<div id="container-fluid" style="clear:both; height:165px; padding-top:10px; margin-bottom:15px; border: 1px black solid;">
    <p class="bg-success">

    </p>
    <div class="alert alert-danger" style="height:125px;">
        <strong>Info!</strong> Indicates a neutral informative change or action.
    </div>
</div>
!-->