

    <link href="@Url.Content("~/Content/styles/style.css")" rel="stylesheet" type="text/css" />

<div id="container-fluid" style="margin-top:30px;">
    <div class="col-xs-12 col-sm-6 col-md-8" id="content">
        <h2>Resumen</h2>
        <strong>Recorded: </strong> dfdf <br />
        <strong>Duration: </strong> dfdf <br />
        <strong>Distance: </strong> dfdf <br />
        <strong>File: </strong> dfdf
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8" id="middle">
        <h3>One Mile Walk Test</h3>
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf
    </div>

    <div class="col-xs-12 col-sm-6 col-md-8" id="middle">
        <h3>One Half Mile Run Test</h3>
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf
    </div>

    <div class="col-xs-12 col-sm-6 col-md-8" id="middle">
        <h3>Vo2max Speed</h3>
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf <br />
        <small>Secondary text: </small> dfdf
    </div>
</div>

