@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style>
      .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Problema al cargar la pagina <small><font face="Tahoma" color="red">Error</font></small></h1>
                <br />
                <p>La página solicitada no se pudo encontrar, pongase en contacto con su webmaster o inténtelo de nuevo. Pulsa el botón <strong>Atrás</strong> para navegar a la página que has venido de previamente
</p>
                <p><b>O simplemente puede pulse el siguiente botón:</b></p>
                <a href="/home/index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>LLevame a casa</a>
            </div>
            <br />
        </div>
    </div>
</div>