@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cerrar Sesión";
}

<hgroup>
    <h1 class="text-danger">Cerrar Sesión.</h1>
    <h2 class="text-danger">Esta cuenta ha cerrado sesión, intentalo de nuevo.</h2>
</hgroup>
